.aboutMain{
    background-image: -webkit-gradient(linear,left top,right top,from(#fc4a1a),to(#f7b733));
}

.aboutImage{
    width: 100vw !important;
    border-radius: 0 !important;
    margin-top: 0 !important;
    width: 100vw !important;
    opacity: 0.9;
}
.aboutField{
    position: relative;
    top: -467px;
    right: -390px;
    text-align: center;
    padding: 60px 100px 60px 100px;
    background-color: azure;
    border: 1px solid transparent;
    border-radius: 25px;
    width: 50vw;
}
.paraAbout{
    text-align: left !important;
}
.aboutFieldTwo{
    width: 60vw;
    padding: 60px 120px 120px 120px;
    background-color: azure;
    border: 1px solid transparent;
    border-radius: 25px;
    position: relative;
    left: 302px;
    top: -277px;
}
.paraAboutTwo{
    text-align: justify;
}