.services{
    padding: 100px;
    background-image: -webkit-gradient(linear,left top,right top,from(#fc4a1a),to(#f7b733));
}
.mt-4 {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 240px;
}
.text{
    text-decoration: none !important;
}
a{
    text-decoration: none!important;
}
.fixingBottom{
    margin-bottom: 150px !important;
}