*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-link{
    font-weight: 600 ;
    padding: 10px 30px 10px 30px !important;
    border: 1px solid #ffffff !important;
    margin-right: 15px;
    border-radius: 10px;
    margin-top: 5px;
    text-align: center;
}
.bg-dark {
    background-color: #000000!important;
}
nav a.active{
 font-weight: bolder;
 font-size: 17px;
 text-decoration: underline;
 background-image:-webkit-gradient(linear,left top,right top,from(#fc4a1a),to(#f7b733));

}