.carasoleImg{
    width: 80% !important;
    height: auto;
}
.carousel{
    background-color: #FECE1A;
    margin-bottom: 0px;
}
.carousel-item{
    top: -21px;
}
.roundImage{
    border-radius: 0;
}
.headingTitle{
    font-size: 40px;
    font-weight: 700;
    color: aliceblue;
    background-color: #FECE1A;
    padding: 60px 120px 60px 120px;
    border: 2px solid white;
    border-radius: 20px;
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    height: 60px;
    width: 50%;
    filter: invert(0) grayscale(100);
}
.navbar-toggler {
    background-color: #fece1a;
    font-size: 25px;
}
.carousel-indicators {
    bottom: 60px;
}
