*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-link{
    font-weight: 600 ;
    padding: 10px 30px 10px 30px !important;
    border: 1px solid #ffffff !important;
    margin-right: 15px;
    border-radius: 10px;
}